/*Hoja de estilos de la aplicacion tu coffe*/

body {
    margin: 0;
    line-height: 1.5;
    Font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 4px solid black;
}

header {
    padding-top: 20px;
}

.contenh {
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.navegacion a:hover {
    color: #FF8C00;
}

.sectimg img {
    width: 100%;
    margin-top: 25px;
}

.contenm {
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.artimain {
    width: 25%;
}

.contimg {
    width: 70px;
    margin: auto;
}

.contimg img {
    width: 100%;
    margin: auto;
}

.textmain {
    text-align: center;
    padding: 20px;
}

.tituloh2 {
    width: 36%;
    margin: auto;
}

.secblog {
    padding-top: 20px;
}

.contblog {
    width: 86%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    padding-top: 23px;
}

.artblog {
    width: 25%;
    border: 1px solid black;
    height: 600px
}

.artblog img {
    width: 100%;
}

.textblog {
    padding-left: 10px;
    padding-right: 10px;
}

.textblog a {
    text-decoration: none;
    background: #FF8C00;
    text-align: center;
    padding: 9px 90px;
    color: white;
}

.secrecomenda {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.pie {
    border-top: solid #FF8C00;
    padding: 20px;
}

.contpie {
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artblog span {
    color: #FF8C00;
    font-size: font-style;
}

.footerspan1 {
    color: #FF8C00;
}

.footerspan2 {
    color: blue;
}

.footerspan3 {
    color: green;
}

.mainblog {
    width: 70%;
    margin: auto;
    align-items: center;
    padding-bottom: 130px;
}

.mainblog img {
    width: 100%;
}

.span1blog {
    color: #FF8C00;
    font-size: 14px;
}

.mainblog span {
    color: #FF8C00;
}

.contquienes {
    width: 80%;
    margin: auto;
    align-items: center;
}

.contartquienes {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.artquienes {
    padding: 10px;
}

.contimgquienes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.imgquienes {
    width: 100%;
    padding: 6px;
    margin: auto;
    align-items: center;
}

.imgquienes img {
    width: 100%;
}

.contequipo {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 10px;
}

.contautor {
    margin: auto;
    padding: 10px;
    padding-bottom: 130px;
}

.contautor img {
    width: 100%;
}

.textautor {
    text-align: center;
    line-height: 1px;
}

.textautor span {
    color: #FF8C00;
    font-size: 13px;
}

.contproduct {
    width: 80%;
    margin: auto;
    padding-bottom: 90px;
}

.artproduct {
    width: 70%;
    margin: auto;
    display: flex;
    padding: 20px;
}

.conimgproduct {
    width: 100%;
    margin: auto;
}

.contimgproduct img {
    width: 100%;
}

.textproduct {
    line-height: 1px;
    font-size: 13px;
}

.textproduct span {
    color: #FF8C00;
    font-size: 10px;
}

.contemail {
    width: 65%;
    margin: auto;
    display: flex;
    padding: 20px;
    padding-bottom: 120px;
    justify-content: space-evenly;
}

.unocont {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

form {
    width: 95%;
}

.message {
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
}

.message label {
    padding: 20px;
    padding-bottom: 20px;
}

textarea {
    margin: auto;
    width: 720px;
    height: 170px;
    padding: 20px
}

.titucontacto {
    width: 60%;
    margin: auto;
}

.asesoria {
    align-items: center;
    margin: auto;
}

.bottomsend {
    background: #FF8C00;
    width: 80px;
    font-weight: 700;
}

.bottomsend:hover {
    cursor: pointer;
    background-color: gray;
}

.form label {
    line-height: 2;
}

fieldset {
    margin: auto;
}

.two {
    padding: 20px;
}